body {
    font-family: Georgia, serif;
    margin: 5;
    padding: 5;
    box-sizing: border-box;
    text-align: center;
    color: dimgray;
}
header {
    background-color: #333;
    color: white;
    padding: 1rem;
    text-align: center;
}
p {
  font-size: 18px;
  text-align: justify;
  margin-top: auto;
  margin-bottom: auto;
  margin-right: auto;
  margin-left: auto;
  line-height:20px
}

